<% include common/head %>
<% include common/menu %>
<div id="content">
<p>Username: <%= page.user.username %></p>
<p>Email: <%= page.user.email %></p>
<a href="/logout">Logout!</a>
</div>

<% include common/foot %>